body {
    background-color: #D1C6EB;
}

/* --------------------------------- */

#logo {
    width: 240px;
    height: 75px;
    margin: 6.776% 5% 0 13.866%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
    filter: none;
}

#logo>a>img {
    width: 240px;
    height: 75px;
}

/* --------------------------------- */

.button {
    margin: -7.113% 12.513% 7% 73.874%;
    display: block;
    width: 227px;
    height: 64px;

    background-image: url('../textures/back_ico.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button:hover {
    background-image: url('../textures/back_hover.png');
}

.button:active {
    background-image: url('../textures/back_active.png');
}

/* --------------------------------- */

main>iframe {
    width: 68.86%;
    height: 1473px;
    margin: 5% 15.57% 0 15.57%;
}

/* --------------------------------- */

/* --------------------------------- */

.navigation {
    margin: 5% 0 -10% 15%;
}

#navMenu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#navMenu>span {
    display: block;
    width: 37px;
    height: 2.66px;
    border-radius: 9999px;
    background-color: #000000;
}

#navMenu>span:not(:last-child) {
    margin-bottom: 9.33px;
}

#navMenu,
#navMenu>span {
    transition: all .2s ease-in-out;
}

#navMenu.active {
    transition-delay: .5s;
    transform: rotate(45deg);
    border-radius: 999px;
}

#navMenu.active>span:nth-child(2) {
    width: 0;
}

#navMenu.active>span:nth-child(1),
#navMenu.active>span:nth-child(3) {
    transition-delay: .2s;
}

#navMenu.active>span:nth-child(1) {
    transform: translateY(12px);
}

#navMenu.active>span:nth-child(3) {
    transform: translateY(-12px) rotate(90deg);
}

/* --------------------------------- */

.nav li {
    display: inline-block;
    list-style: none;
}

.nav .button-dropdown {
    position: relative;
}

.nav>.button-dropdown>a {
    padding: 0;
}

.nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.nav li a span {
    display: inline-block;
    margin-left: 5px;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;

    background-color: #f4dcf238;
    backdrop-filter: blur(6px);
}

.nav .active {
    width: 300px;
    background-color: #f4dcf238;
    backdrop-filter: blur(6px);
    border-radius: 15px 15px 0 0;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 50%;
}

.dropdown-menu>li>a>div {
    width: 200px;
    height: 67.25px;
}

/* --------------------------------- */

#lr1 {
    background-image: url(../textures/labs/lr1.png);
    background-size: contain;
}

#lr2 {
    background-image: url(../textures/labs/lr2.png);
    background-size: contain;
}

#lr3 {
    background-image: url(../textures/labs/lr3.png);
    background-size: contain;
}

#lr4 {
    background-image: url(../textures/labs/lr4.png);
    background-size: contain;
}

#lr5 {
    background-image: url(../textures/labs/lr5.png);
    background-size: contain;
}

#lr6 {
    background-image: url(../textures/labs/lr6.png);
    background-size: contain;
}

#lr7 {
    background-image: url(../textures/labs/lr7.png);
    background-size: contain;
}

#lr8 {
    background-image: url(../textures/labs/lr8.png);
    background-size: contain;
}

#lr9 {
    background-image: url(../textures/labs/lr9.png);
    background-size: contain;
}

#lr10 {
    background-image: url(../textures/labs/lr10.png);
    background-size: contain;
}

#lr11 {
    background-image: url(../textures/labs/lr11.png);
    background-size: contain;
}

#lr12 {
    background-image: url(../textures/labs/lr12.png);
    background-size: contain;
}

#lr13 {
    background-image: url(../textures/labs/lr13.png);
    background-size: contain;
}

#lr14 {
    background-image: url(../textures/labs/lr14.png);
    background-size: contain;
}

/* --------------------------------- */

/* --------------------------------- */

hr {
    border: 1px solid #000;
    margin-top: 4.627%;
}

footer {
    padding: 4.885% 0 0 0;
}

footer>.info_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.9415%;
}

footer>.info_footer>span {
    margin-bottom: 1.103%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

footer>.info_footer>span>a {
    text-decoration: none;
    color: #000000;
}

footer>.name_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>.name_footer>span {
    margin-bottom: 1.156%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

footer>.info_footer>span>a:hover {
    text-decoration: solid 1px underline;
}