body {
	background-image: url("../textures/main/Backround.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg {
	position: absolute;
	background-image: url('../textures/main/glass.JPG');
	mix-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	height: 63%;
	width: 100%;
	margin-top: 36%;
}

/*----------------------------------*/

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin: 6.776% 13.991% 8.62% 13.991%;
}

.leftside_header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.row_side {
	display: flex;
	flex-direction: row;
}

#logo {
	width: 240px;
	height: 75px;
	margin-right: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo>img {
	width: 240px;
	height: 75px;
}

/*---------------------------------*/

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 34px;
	height: 16px;
	background: #e9dfa6;
	display: block;
	border-radius: 100px;
	position: relative;
	margin-top: 35%;
	margin-left: 25%;
}

label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 20px;
	height: 20px;
	background-image: url(../textures/main/day.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 90px;
	transition: 0.2s;
}

input:checked+label {
	background: #7786c5;
}

input:checked+label:after {
	left: 110%;
	transform: translateX(-100%);
	background-image: url(../textures/main/night.png);
}

label:active:after {
	width: 30px;
}

/*--------------------------------*/

#face {
	width: 50%;
	height: 100%;
	margin-right: 5%;
}

#face>img {
	width: 100%;
	height: 100%;
}


#name {
	font-family: 'Vollkorn', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 6rem;
	line-height: 6.5rem;

	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	text-align: center;

	margin-top: 15%;
	margin-right: 18%;
}


/*========================================*/

.line {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.line>.part_line {
	border: #000 solid 1px;
	width: 20.893%;
	height: 0;
}


.line>.text {
	text-align: center;
	width: 60%;
}

.line>.text>span {
	font-family: 'Roboto Flex', sans-serif;
	font-stretch: expanded;
	font-weight: 500;
	font-size: 80px;
	line-height: 104px;
}

/*========================================*/

main {
	padding: 0% 0 10.0845% 0;
	display: flex;
	justify-content: center;
}

/*========================================*/

nav {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav>.nav_dop {
	display: flex;
	justify-content: center;
}

nav>.nav_dop>* {
	margin: 6%;
}

nav>.nav_menu {
	display: flex;
	justify-content: center;
}

nav>.nav_menu>* {
	margin: 1% 0 5%;
}

/*========================================*/

footer {
	padding: 4.885% 0 0 0;
}
/* 4.6855 */
footer>.info_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:2.9415%;
}

footer>.info_footer>span {
	margin-bottom: 1.103%;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

footer>.info_footer>span>a {
	text-decoration: none;
	color: #000000;
}

footer>.name_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer>.name_footer>span {
	margin-bottom: 1.156%;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}