body {
	background-image: url('../textures/menu/backround.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* --------------------------------- */

#logo {
	width: 240px;
	height: 75px;
	margin: 6.776% 5% 0 13.866%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 6%;
	filter: none;
}

#logo>a>img {
	width: 240px;
	height: 75px;
}

/* --------------------------------- */

.content {
	margin: 0 10%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	filter: none;
}

.content>.card1 {
	text-align: center;
	width: 22%;
	border-radius: 43px;
	background-color: #ffffff;

	padding: 4.235% 1.048%;
	margin: 0 4.071% 5.753% 4.071%;

	font-size: 40px;
	font-family: 'Roboto Flex', sans-serif;
	color: #000;
	text-decoration: none;

	/* filter:invert(0.8); */
}

.content>.card2 {
	text-align: center;
	width: 22%;
	border-radius: 43px;
	background-color: #ffffff;

	padding: 4.399% 1.048%;
	margin: 0 4.071% 6.303% 4.071%;

	font-size: 36px;
	font-family: 'Roboto Flex', sans-serif;
	color: #000;
	text-decoration: none;

	/* filter:invert(0.8); */
}

/* --------------------------------- */

#return {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2.9417%;
}

#return>a>img {
	width: 100%;
	height: auto;
}

/* --------------------------------- */

hr {
	border: 1px solid #000;
	margin-top: 14.627%;
}

footer {
	padding: 4.885% 0 0 0;
}

footer>.info_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.9415%;
}

footer>.info_footer>span {
	margin-bottom: 1.103%;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

footer>.info_footer>span>a {
	text-decoration: none;
	color: #000000;
}

footer>.name_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer>.name_footer>span {
	margin-bottom: 1.156%;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

footer>.info_footer>span>a:hover {
	text-decoration: solid 1px underline;
}