#slide1:hover {
    background-image: url('../../textures/conpect/hover/c1.png');
}

#slide2:hover {
    background-image: url('../../textures/conpect/hover/c2.png');
}

#slide3:hover {
    background-image: url('../../textures/conpect/hover/c3.png');
}

#slide4:hover {
    background-image: url('../../textures/conpect/hover/c4.png');
}

#slide5:hover {
    background-image: url('../../textures/conpect/hover/c5.png');
}

#slide6:hover {
    background-image: url('../../textures/conpect/hover/c6.png');
}

#slide7:hover {
    background-image: url('../../textures/conpect/hover/c7.png');
}

#slide8:hover {
    background-image: url('../../textures/conpect/hover/c8.png');
}

#slide9:hover {
    background-image: url('../../textures/conpect/hover/c9.png');
}

#slide10:hover {
    background-image: url('../../textures/conpect/hover/c10.png');
}

#slide11:hover {
    background-image: url('../../textures/conpect/hover/c11.png');
}

#slide12:hover {
    background-image: url('../../textures/conpect/hover/c12.png');
}

#slide13:hover {
    background-image: url('../../textures/conpect/hover/c13.png');
}

#slide14:hover {
    background-image: url('../../textures/conpect/hover/c14.png');
}

#slide15:hover {
    background-image: url('../../textures/conpect/hover/c15.png');
}

#slide16:hover {
    background-image: url('../../textures/conpect/hover/c16.png');
}

#slide17:hover {
    background-image: url('../../textures/conpect/hover/c17.png');
}

#slide18:hover {
    background-image: url('../../textures/conpect/hover/c18.png');
}

#slide19:hover {
    background-image: url('../../textures/conpect/hover/c19.png');
}

#slide20:hover {
    background-image: url('../../textures/conpect/hover/c20.png');
}

#slide21:hover {
    background-image: url('../../textures/conpect/hover/c21.png');
}


/* ---------------------------------------------------------------------------------------- */


#slide1:active {
    background-image: url('../../textures/conpect/active/c1.png');
}

#slide2:active {
    background-image: url('../../textures/conpect/active/c2.png');
}

#slide3:active {
    background-image: url('../../textures/conpect/active/c3.png');
}

#slide4:active {
    background-image: url('../../textures/conpect/active/c4.png');
}

#slide5:active {
    background-image: url('../../textures/conpect/active/c5.png');
}

#slide6:active {
    background-image: url('../../textures/conpect/active/c6.png');
}

#slide7:active {
    background-image: url('../../textures/conpect/active/c7.png');
}

#slide8:active {
    background-image: url('../../textures/conpect/active/c8.png');
}

#slide9:active {
    background-image: url('../../textures/conpect/active/c9.png');
}

#slide10:active {
    background-image: url('../../textures/conpect/active/c10.png');
}

#slide11:active {
    background-image: url('../../textures/conpect/active/c11.png');
}

#slide12:active {
    background-image: url('../../textures/conpect/active/c12.png');
}

#slide13:active {
    background-image: url('../../textures/conpect/active/c13.png');
}

#slide14:active {
    background-image: url('../../textures/conpect/active/c14.png');
}

#slide15:active {
    background-image: url('../../textures/conpect/active/c15.png');
}

#slide16:active {
    background-image: url('../../textures/conpect/active/c16.png');
}

#slide17:active {
    background-image: url('../../textures/conpect/active/c17.png');
}

#slide18:active {
    background-image: url('../../textures/conpect/active/c18.png');
}

#slide19:active {
    background-image: url('../../textures/conpect/active/c19.png');
}

#slide20:active {
    background-image: url('../../textures/conpect/active/c20.png');
}

#slide21:active {
    background-image: url('../../textures/conpect/active/c21.png');
}