.close:active {
    background-image: url('../../textures/conpect/close_active.png');
}

/* ----------------------------------------------------------------- */

#e1:hover {
    background-image: url('../../textures/examples/hover/e1.png');
}

#e2:hover {
    background-image: url('../../textures/examples/hover/e2.png');
}

#e3:hover {
    background-image: url('../../textures/examples/hover/e3.png');
}

#e4:hover {
    background-image: url('../../textures/examples/hover/e4.png');
}

#e5:hover {
    background-image: url('../../textures/examples/hover/e5.png');
}

#e6:hover {
    background-image: url('../../textures/examples/hover/e6.png');
}

#e7:hover {
    background-image: url('../../textures/examples/hover/e7.png');
}


#e1:active {
    background-image: url('../../textures/examples/active/e1.png');
}

#e2:active {
    background-image: url('../../textures/examples/active/e2.png');
}

#e3:active {
    background-image: url('../../textures/examples/active/e3.png');
}

#e4:active {
    background-image: url('../../textures/examples/active/e4.png');
}

#e5:active {
    background-image: url('../../textures/examples/active/e5.png');
}

#e6:active {
    background-image: url('../../textures/examples/active/e6.png');
}

#e7:active {
    background-image: url('../../textures/examples/active/e7.png');
}



#e8:hover {
    background-image: url('../../textures/examples/hover/e8.png');
}

#e9:hover {
    background-image: url('../../textures/examples/hover/e9.png');
}

#e10:hover {
    background-image: url('../../textures/examples/hover/e10.png');
}

#e11:hover {
    background-image: url('../../textures/examples/hover/e11.png');
}

#e12:hover {
    background-image: url('../../textures/examples/hover/e12.png');
}

#e13:hover {
    background-image: url('../../textures/examples/hover/e13.png');
}

#e14:hover {
    background-image: url('../../textures/examples/hover/e14.png');
}


#e8:active {
    background-image: url('../../textures/examples/active/e8.png');
}

#e9:active {
    background-image: url('../../textures/examples/active/e9.png');
}

#e10:active {
    background-image: url('../../textures/examples/active/e10.png');
}

#e11:active {
    background-image: url('../../textures/examples/active/e11.png');
}

#e12:active {
    background-image: url('../../textures/examples/active/e12.png');
}

#e13:active {
    background-image: url('../../textures/examples/active/e13.png');
}

#e14:active {
    background-image: url('../../textures/examples/active/e14.png');
}



#e15:hover {
    background-image: url('../../textures/examples/hover/e15.png');
}

#e16:hover {
    background-image: url('../../textures/examples/hover/e16.png');
}

#e17:hover {
    background-image: url('../../textures/examples/hover/e17.png');
}

#e18:hover {
    background-image: url('../../textures/examples/hover/e18.png');
}

#e19:hover {
    background-image: url('../../textures/examples/hover/e19.png');
}

#e20:hover {
    background-image: url('../../textures/examples/hover/e20.png');
}

#e21:hover {
    background-image: url('../../textures/examples/hover/e21.png');
}


#e15:active {
    background-image: url('../../textures/examples/active/e15.png');
}

#e16:active {
    background-image: url('../../textures/examples/active/e16.png');
}

#e17:active {
    background-image: url('../../textures/examples/active/e17.png');
}

#e18:active {
    background-image: url('../../textures/examples/active/e18.png');
}

#e19:active {
    background-image: url('../../textures/examples/active/e19.png');
}

#e20:active {
    background-image: url('../../textures/examples/active/e20.png');
}

#e21:active {
    background-image: url('../../textures/examples/active/e21.png');
}